/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 2%;
    background-color: beige;
    color: beige;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://raw.githubusercontent.com/WaongoAdrien/Pictures/refs/heads/main/back2.png');
    background-attachment: fixed;
    background-size: 100% 100%;
    background-position: center;
    margin: 0;
    padding: 0;
    width: 100%; /*add*/
}
/* Header Styles */
.header {
    background-color:#cce0ff;
    color: black;
    padding: 10px;
    text-align: center;
}
.header:hover {
    background-color:#80b3ff ;
    color: black;
}
.header a {
    color: #000080;
    text-decoration: none;
}
.header a:hover {
    text-decoration: underline;
}
/* Container Styles */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
/* Card Styles */
.card {
    background: #cce0ff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width=100%;
    max-width: 100%;
}
.card-main {
    background: #cce0ff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%;
    max-width: 100%;
    color: black;
}

.card-main:hover {
    background-color:#80b3ff ;
    color: black;
}
.image {
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: auto;
    max-width: 100%;
}
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.card ul {
    padding-left: 20px;
}

.card ul li {
    margin-bottom: 5px;
}

.card-main a {
    color: #000080;
    text-decoration: none;
}

.card-main a:hover {
    text-decoration: underline;
}




